In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#%matplotlib inline
import seaborn as sns
sns.set_style('whitegrid')

C:\Users\jpinf\Anaconda3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\jpinf\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\Users\jpinf\Anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  stacklevel=1)
In C:\Users\jpinf\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.unicode rcparam was deprecated in Matplotlib 3.0 and will be removed in 3.2.
In C:\Users\jpinf\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.frameon rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.
In C:\Users\jpinf\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The pgf.debug rcparam was deprecated in Matplotlib 3.0 and will be removed in 3.2.
In C:\Users\jpinf\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The verbose.level rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.
In C:\Users\jpinf\Anaconda3\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The verbose.fileo rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.

In [2]:
mat = pd.read_csv("student-mat.csv", sep=';')
por = pd.read_csv("student-por.csv", sep=';')

In [3]:
df = pd.concat([mat,por])

In [4]:
df.columns = ['school','sex','age','address','family_size','parents_status','mother_education','father_education',
           'mother_job','father_job','reason','guardian','commute_time','study_time','failures','school_support',
          'family_support','paid_classes','activities','nursery','desire_higher_edu','internet','romantic','family_quality',
          'free_time','go_out','weekday_alcohol_usage','weekend_alcohol_usage','health','absences','period1_score','period2_score','final_score']

In [5]:
df['final_grade'] = 'na'
df.loc[(df.final_score >= 15) & (df.final_score <= 20), 'final_grade'] = 'good' 
df.loc[(df.final_score >= 10) & (df.final_score <= 14), 'final_grade'] = 'fair' 
df.loc[(df.final_score >= 0) & (df.final_score <= 9), 'final_grade'] = 'poor' 
df.head(5)

,school,sex,age,address,family_size,parents_status,mother_education,father_education,mother_job,father_job,...,free_time,go_out,weekday_alcohol_usage,weekend_alcohol_usage,health,absences,period1_score,period2_score,final_score,final_grade
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,poor
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,poor
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,fair
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,good
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,fair

In [6]:
df.dtypes

school                   object
sex                      object
age                       int64
address                  object
family_size              object
parents_status           object
mother_education          int64
father_education          int64
mother_job               object
father_job               object
reason                   object
guardian                 object
commute_time              int64
study_time                int64
failures                  int64
school_support           object
family_support           object
paid_classes             object
activities               object
nursery                  object
desire_higher_edu        object
internet                 object
romantic                 object
family_quality            int64
free_time                 int64
go_out                    int64
weekday_alcohol_usage     int64
weekend_alcohol_usage     int64
health                    int64
absences                  int64
period1_score             int64
period2_score             int64
final_score               int64
final_grade              object
dtype: object

In [7]:
df.drop(columns=['school','address','parents_status','mother_education','father_education','weekday_alcohol_usage','commute_time','nursery','weekend_alcohol_usage','romantic'], inplace=True)

In [8]:
df.dtypes

sex                  object
age                   int64
family_size          object
mother_job           object
father_job           object
reason               object
guardian             object
study_time            int64
failures              int64
school_support       object
family_support       object
paid_classes         object
activities           object
desire_higher_edu    object
internet             object
family_quality        int64
free_time             int64
go_out                int64
health                int64
absences              int64
period1_score         int64
period2_score         int64
final_score           int64
final_grade          object
dtype: object

In [9]:
df.drop(columns=['family_size','desire_higher_edu','family_quality'], inplace=True)

In [10]:
df

,sex,age,mother_job,father_job,reason,guardian,study_time,failures,school_support,family_support,...,activities,internet,free_time,go_out,health,absences,period1_score,period2_score,final_score,final_grade
0,F,18,at_home,teacher,course,mother,2,0,yes,no,...,no,no,3,4,3,6,5,6,6,poor
1,F,17,at_home,other,course,father,2,0,no,yes,...,no,yes,3,3,3,4,5,5,6,poor
2,F,15,at_home,other,other,mother,2,3,yes,no,...,no,yes,3,2,3,10,7,8,10,fair
3,F,15,health,services,home,mother,3,0,no,yes,...,yes,yes,2,2,5,2,15,14,15,good
4,F,16,other,other,home,father,2,0,no,yes,...,no,no,3,2,5,4,6,10,10,fair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,F,19,services,other,course,mother,3,1,no,no,...,yes,yes,4,2,5,4,10,11,10,fair
645,F,18,teacher,services,course,mother,2,0,no,yes,...,no,yes,3,4,1,4,15,15,16,good
646,F,18,other,other,course,mother,2,0,no,no,...,yes,no,1,1,5,6,11,12,9,poor
647,M,17,services,services,course,mother,1,0,no,no,...,no,yes,4,5,2,6,10,10,10,fair
648,M,18,services,other,course,mother,1,0,no,no,...,no,yes,4,1,5,4,10,11,11,fair

In [11]:
df = pd.DataFrame(df)
df.to_csv (r'C:/Users/jpinf/Desktop/student performance/upload.csv', index = False, header=True)

In [12]:
df.dtypes

sex               object
age                int64
mother_job        object
father_job        object
reason            object
guardian          object
study_time         int64
failures           int64
school_support    object
family_support    object
paid_classes      object
activities        object
internet          object
free_time          int64
go_out             int64
health             int64
absences           int64
period1_score      int64
period2_score      int64
final_score        int64
final_grade       object
dtype: object

In [13]:
df['sex'].unique()

array(['F', 'M'], dtype=object)

In [14]:
#df.loc[df['sex']=='F', 'sex'] = 0
#df.loc[df['sex']=='M', 'sex'] = 1

In [15]:
df['mother_job'].unique()

array(['at_home', 'health', 'other', 'services', 'teacher'], dtype=object)

In [16]:
#df.loc[df['mother_job']=='at_home', 'mother_job'] = 0
#df.loc[df['mother_job']=='health', 'mother_job'] = 1
#df.loc[df['mother_job']=='other', 'mother_job'] = 2
#df.loc[df['mother_job']=='services', 'mother_job'] = 3
#df.loc[df['mother_job']=='teacher', 'mother_job'] = 4

In [17]:
df['father_job'].unique()

array(['teacher', 'other', 'services', 'health', 'at_home'], dtype=object)

In [18]:
#df.loc[df['father_job']=='at_home', 'father_job'] = 0
#df.loc[df['father_job']=='health', 'father_job'] = 1
#df.loc[df['father_job']=='other', 'father_job'] = 2
#df.loc[df['father_job']=='services', 'father_job'] = 3
#df.loc[df['father_job']=='teacher', 'father_job'] = 4

In [19]:
df['reason'].unique()

array(['course', 'other', 'home', 'reputation'], dtype=object)

In [20]:
#df.loc[df['reason']=='course', 'reason'] = 0
#df.loc[df['reason']=='other', 'reason'] = 1
#df.loc[df['reason']=='home', 'reason'] = 2
#df.loc[df['reason']=='reputation', 'reason'] = 3

In [21]:
df['guardian'].unique()

array(['mother', 'father', 'other'], dtype=object)

In [22]:
#df.loc[df['guardian']=='mother', 'guardian'] = 0
#df.loc[df['guardian']=='father', 'guardian'] = 1
#df.loc[df['guardian']=='other', 'guardian'] = 2

In [23]:
df['study_time'].unique()

array([2, 3, 1, 4], dtype=int64)

In [24]:
df['failures'].unique()

array([0, 3, 2, 1], dtype=int64)

In [25]:
df['guardian'].unique()

array(['mother', 'father', 'other'], dtype=object)

In [26]:
df['school_support'].unique()

array(['yes', 'no'], dtype=object)

In [27]:
#df.loc[df['school_support']=='yes', 'school_support'] = 0
#df.loc[df['school_support']=='no', 'school_support'] = 1

In [28]:
df['family_support'].unique()

array(['no', 'yes'], dtype=object)

In [29]:
#df.loc[df['family_support']=='yes', 'family_support'] = 0
#df.loc[df['family_support']=='no', 'family_support'] = 1

In [30]:
df['paid_classes'].unique()

array(['no', 'yes'], dtype=object)

In [31]:
#df.loc[df['family_support']=='yes', 'family_support'] = 0
#df.loc[df['family_support']=='no', 'family_support'] = 1

In [32]:
df['activities'].unique()

array(['no', 'yes'], dtype=object)

In [33]:
#df.loc[df['activities']=='yes', 'activities'] = 0
#df.loc[df['activities']=='no', 'activities'] = 1

In [34]:
df['internet'].unique()

array(['no', 'yes'], dtype=object)

In [35]:
#df.loc[df['internet']=='yes', 'internet'] = 0
#df.loc[df['internet']=='no', 'internet'] = 1

In [36]:
df['internet'].unique()

array(['no', 'yes'], dtype=object)

In [37]:
y=df['final_grade']

In [38]:
df.dtypes

sex               object
age                int64
mother_job        object
father_job        object
reason            object
guardian          object
study_time         int64
failures           int64
school_support    object
family_support    object
paid_classes      object
activities        object
internet          object
free_time          int64
go_out             int64
health             int64
absences           int64
period1_score      int64
period2_score      int64
final_score        int64
final_grade       object
dtype: object

In [39]:
df

,sex,age,mother_job,father_job,reason,guardian,study_time,failures,school_support,family_support,...,activities,internet,free_time,go_out,health,absences,period1_score,period2_score,final_score,final_grade
0,F,18,at_home,teacher,course,mother,2,0,yes,no,...,no,no,3,4,3,6,5,6,6,poor
1,F,17,at_home,other,course,father,2,0,no,yes,...,no,yes,3,3,3,4,5,5,6,poor
2,F,15,at_home,other,other,mother,2,3,yes,no,...,no,yes,3,2,3,10,7,8,10,fair
3,F,15,health,services,home,mother,3,0,no,yes,...,yes,yes,2,2,5,2,15,14,15,good
4,F,16,other,other,home,father,2,0,no,yes,...,no,no,3,2,5,4,6,10,10,fair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,F,19,services,other,course,mother,3,1,no,no,...,yes,yes,4,2,5,4,10,11,10,fair
645,F,18,teacher,services,course,mother,2,0,no,yes,...,no,yes,3,4,1,4,15,15,16,good
646,F,18,other,other,course,mother,2,0,no,no,...,yes,no,1,1,5,6,11,12,9,poor
647,M,17,services,services,course,mother,1,0,no,no,...,no,yes,4,5,2,6,10,10,10,fair
648,M,18,services,other,course,mother,1,0,no,no,...,no,yes,4,1,5,4,10,11,11,fair

In [43]:
df = pd.DataFrame(df)

df.to_csv (r'C:/Users/jpinf/Desktop/student performance/tes.csv', index = False, header=True)

In [39]:
df['paid_classes'].unique()

array(['no', 'yes'], dtype=object)

In [40]:
#df.loc[df['paid_classes']=='yes', 'paid_classes'] = 0
#df.loc[df['paid_classes']=='no', 'paid_classes'] = 1

In [41]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df = df.apply(le.fit_transform)

In [42]:
df.dtypes

sex               int32
age               int64
mother_job        int32
father_job        int32
reason            int32
guardian          int32
study_time        int64
failures          int64
school_support    int32
family_support    int32
paid_classes      int32
activities        int32
internet          int32
free_time         int64
go_out            int64
health            int64
absences          int64
period1_score     int64
period2_score     int64
final_score       int64
final_grade       int32
dtype: object

In [54]:
df

,sex,age,mother_job,father_job,reason,guardian,study_time,failures,school_support,family_support,paid_classes,activities,internet,free_time,go_out,health,absences,period1_score,period2_score,final_score
0,0,3,0,4,0,1,1,0,1,0,0,0,0,2,3,2,6,3,3,4
1,0,2,0,2,0,0,1,0,0,1,0,0,1,2,2,2,4,3,2,4
2,0,0,0,2,2,1,1,3,1,0,1,0,1,2,1,2,10,5,5,8
3,0,0,1,3,1,1,2,0,0,1,1,1,1,1,1,4,2,13,11,13
4,0,1,2,2,1,0,1,0,0,1,1,0,0,2,1,4,4,4,7,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,0,4,3,2,0,1,2,1,0,0,0,1,1,3,1,4,4,8,8,8
645,0,3,4,3,0,1,1,0,0,1,0,0,1,2,3,0,4,13,12,14
646,0,3,2,2,0,1,1,0,0,0,0,1,0,0,0,4,6,9,9,7
647,1,2,3,3,0,1,0,0,0,0,0,0,1,3,4,1,6,8,7,8
648,1,3,3,2,0,1,0,0,0,0,0,0,1,3,0,4,4,8,8,9

In [55]:
df['sex'].unique()

array([0, 1])

In [56]:
df['mother_job'].unique()

array([0, 1, 2, 3, 4])

In [57]:
df['reason'].unique()

array([0, 2, 1, 3])

In [58]:
df['father_job'].unique()

array([4, 2, 3, 1, 0])

In [59]:
df['guardian'].unique()

array([1, 0, 2])

In [60]:
df['school_support'].unique()

array([1, 0])

In [61]:
df['activities'].unique()

array([0, 1])

In [43]:
df.drop(columns=['final_grade'], inplace=True)

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =train_test_split(df, y, test_size=0.3)
print(X_train.shape)
print(X_test.shape)

(730, 20)
(314, 20)

In [45]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

In [46]:
rf = RandomForestClassifier(n_estimators=10,random_state=33)
rf = rf.fit(X_train, y_train)

In [47]:
rf.score(X_train, y_train)

1.0

In [48]:
from sklearn.metrics import accuracy_score
y_pred = rf.predict(X_test)
accuracy_score(y_pred,y_test)

0.9840764331210191

In [49]:
from xgboost import XGBClassifier

In [50]:
model = XGBClassifier()

In [51]:
model = model.fit(X_train, y_train)

[12:25:40] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

C:\Users\jpinf\Anaconda3\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

In [52]:
model.score(X_train, y_train)

1.0

In [53]:
from sklearn.metrics import accuracy_score
y_pred = model.predict(X_test)
accuracy_score(y_pred,y_test)

1.0

In [62]:
import pickle

pickle.dump(model,open('model.pkl','wb'))

In [63]:
model = pickle.load(open('model.pkl', 'rb'))
print(model)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=4, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', use_label_encoder=True,
              validate_parameters=1, verbosity=None)

In [64]:
import pickle

pickle.dump(rf,open('rf.pkl','wb'))

In [67]:
rf = pickle.load(open('rf.pkl', 'rb'))
print(rf)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=33, verbose=0,
                       warm_start=False)