In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df= pd.read_csv('Chicago_Crimes_2012_to_2017.csv')

In [4]:
df

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,3,10508693,HZ250496,05/03/2016 11:40:00 PM,013XX S SAWYER AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,...,24.0,29.0,08B,1154907.0,1893681.0,2016,05/10/2016 03:56:50 PM,41.864073,-87.706819,"(41.864073157, -87.706818608)"
1,89,10508695,HZ250409,05/03/2016 09:40:00 PM,061XX S DREXEL AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,...,20.0,42.0,08B,1183066.0,1864330.0,2016,05/10/2016 03:56:50 PM,41.782922,-87.604363,"(41.782921527, -87.60436317)"
2,197,10508697,HZ250503,05/03/2016 11:31:00 PM,053XX W CHICAGO AVE,0470,PUBLIC PEACE VIOLATION,RECKLESS CONDUCT,STREET,False,...,37.0,25.0,24,1140789.0,1904819.0,2016,05/10/2016 03:56:50 PM,41.894908,-87.758372,"(41.894908283, -87.758371958)"
3,673,10508698,HZ250424,05/03/2016 10:10:00 PM,049XX W FULTON ST,0460,BATTERY,SIMPLE,SIDEWALK,False,...,28.0,25.0,08B,1143223.0,1901475.0,2016,05/10/2016 03:56:50 PM,41.885687,-87.749516,"(41.885686845, -87.749515983)"
4,911,10508699,HZ250455,05/03/2016 10:00:00 PM,003XX N LOTUS AVE,0820,THEFT,$500 AND UNDER,RESIDENCE,False,...,28.0,25.0,06,1139890.0,1901675.0,2016,05/10/2016 03:56:50 PM,41.886297,-87.761751,"(41.886297242, -87.761750709)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456709,6250330,10508679,HZ250507,05/03/2016 11:33:00 PM,026XX W 23RD PL,0486,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,True,...,28.0,30.0,08B,1159105.0,1888300.0,2016,05/10/2016 03:56:50 PM,41.849222,-87.691556,"(41.849222028, -87.69155551)"
1456710,6251089,10508680,HZ250491,05/03/2016 11:30:00 PM,073XX S HARVARD AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,True,...,17.0,69.0,14,1175230.0,1856183.0,2016,05/10/2016 03:56:50 PM,41.760744,-87.633335,"(41.760743949, -87.63333531)"
1456711,6251349,10508681,HZ250479,05/03/2016 12:15:00 AM,024XX W 63RD ST,041A,BATTERY,AGGRAVATED: HANDGUN,SIDEWALK,False,...,15.0,66.0,04B,1161027.0,1862810.0,2016,05/10/2016 03:56:50 PM,41.779235,-87.685207,"(41.779234743, -87.685207125)"
1456712,6253257,10508690,HZ250370,05/03/2016 09:07:00 PM,082XX S EXCHANGE AVE,0486,BATTERY,DOMESTIC BATTERY SIMPLE,SIDEWALK,False,...,7.0,46.0,08B,1197261.0,1850727.0,2016,05/10/2016 03:56:50 PM,41.745252,-87.552773,"(41.745251975, -87.552773464)"
1456713,6253474,10508692,HZ250517,05/03/2016 11:38:00 PM,001XX E 75TH ST,5007,OTHER OFFENSE,OTHER WEAPONS VIOLATION,PARKING LOT/GARAGE(NON.RESID.),True,...,6.0,69.0,26,1178696.0,1855324.0,2016,05/10/2016 03:56:50 PM,41.758309,-87.620658,"(41.75830866, -87.620658418)"

In [5]:
df = df.dropna()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1418365 entries, 0 to 1456713
Data columns (total 23 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Unnamed: 0            1418365 non-null  int64
 1   ID                    1418365 non-null  int64
 2   Case Number           1418365 non-null  object
 3   Date                  1418365 non-null  object
 4   Block                 1418365 non-null  object
 5   IUCR                  1418365 non-null  object
 6   Primary Type          1418365 non-null  object
 7   Description           1418365 non-null  object
 8   Location Description  1418365 non-null  object
 9   Arrest                1418365 non-null  bool
 10  Domestic              1418365 non-null  bool
 11  Beat                  1418365 non-null  int64
 12  District              1418365 non-null  float64
 13  Ward                  1418365 non-null  float64
 14  Community Area        1418365 non-null  float64
 15  FBI Code              1418365 non-null  object
 16  X Coordinate          1418365 non-null  float64
 17  Y Coordinate          1418365 non-null  float64
 18  Year                  1418365 non-null  int64
 19  Updated On            1418365 non-null  object
 20  Latitude              1418365 non-null  float64
 21  Longitude             1418365 non-null  float64
 22  Location              1418365 non-null  object
dtypes: bool(2), float64(7), int64(4), object(10)
memory usage: 240.8+ MB

In [7]:
df['Block'].unique()

array(['013XX S SAWYER AVE', '061XX S DREXEL AVE', '053XX W CHICAGO AVE',
       ..., '061XX S Oak Park Ave', '122XX S CARONDOLET AVE',
       '000XX W 79TH ST'], dtype=object)

In [ ]:
df['Date'] = pd.to_datetime(df['Date'])
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['dayOfWeek'] = df['Date'].dt.day_name()
df['WeekOfYear'] = df['Date'].dt.weekofyear
df['Hour'] = df['Date'].dt.hour
df['Minute'] = df['Date'].dt.minute
df['Second'] = df['Date'].dt.second 
df.head()

In [ ]:
df['Hour'].unique()

In [ ]:
df['Primary Type'].unique()

In [ ]:
df['dayOfWeek'].unique()

In [ ]:
df.loc[df['dayOfWeek']=='Monday','dayOfWeek'] = 0
df.loc[df['dayOfWeek']=='Tuesday', 'dayOfWeek'] =1
df.loc[df['dayOfWeek']=='Wednesday', 'dayOfWeek'] = 2
df.loc[df['dayOfWeek']=='Thursday', 'dayOfWeek'] =3
df.loc[df['dayOfWeek']=='Friday', 'dayOfWeek'] =4
df.loc[df['dayOfWeek']=='Saturday', 'dayOfWeek'] =5
df.loc[df['dayOfWeek']=='Sunday', 'dayOfWeek'] =6

In [ ]:
plt.rcParams["figure.figsize"] = (500,300)

In [ ]:
sns.barplot(x='Primary Type', y='dayOfWeek', data=df)

In [ ]:
sns.barplot(x='Primary Type', y='Month', data=df)

In [ ]:
x = df [['Year','Month','Day','dayOfWeek','Minute','Second','Latitude','Longitude']]

In [ ]:
x

In [ ]:
y =df['Primary Type']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [38]:
from sklearn.naive_bayes import GaussianNB  
classifier = GaussianNB()  
classifier.fit(X_train, y_train)

GaussianNB()

In [39]:
classifier.score(X_train, y_train)

0.039167633155076445

In [ ]:
from sklearn.metrics import accuracy_score
y_pred = classifier.predict(X_test )
accuracy_score(y_pred,y_test)

In [ ]:
import pickle

In [41]:
pickle.dump(classifier, open('model.pkl', 'wb'))

In [42]:
model = pickle.load( open('model.pkl', 'rb') )